<div class="context">
    <h1>IT'S A JOKE!</h1>
    <div class="text-lines">
        <p>El equipo de MIS te agradecemos muchísimo todo el trabajo que has hecho durante estos meses.</p>

        <p>Has sido muy buena compañera y hemos estado super agusto contigo! Te echaremos de menos, for sure.</p>
    
        <p>Entre todos te deseamos que todo te vaya super bien y tengas mucho éxito! ♡</p>
    </div>
</div>

<div style="cursor:pointer">
    <p class="goBack" (click)="onGoBackClick()">Go back if you want</p>
</div>

<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >